{%  if post %}
<div class="col-md-offset-1 col-md-10 col-sm-12">

  <div class="media">
    <div class="col-md-6 col-sm-6">
    <h2>Популярная статья</h2>
  </div> 
</div> 
 </div> 



<div class="col-md-offset-1 col-md-10 col-sm-12">

  <div class="media">
{% for post in post %}

<div class="col-md-6 col-sm-6">
  <a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>                      
  <p>{{ post.content|safe|linebreaks|truncatewords:30 }}</p>
</div>

<div class="col-md-6 col-sm-6">
  <section id="gallery">
    <div class="gallery-thumb"><a href="{{ post.get_absolute_url }}">
    {%  if post.photo  %}
    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-responsive">
    {%  else %}
    <img src="https://picsum.photos/id/1060/300/200/?blur=2" class="img-responsive" alt="{{ post.title }}">
    {%  endif  %}
  </a>
</div>
</section>
</div>


{% endfor %}
</div>
</div>
{%  endif  %}