{% extends 'base.html' %}

{%   block title   %}
Register :: {{ block.super }}
{%    endblock    %}

<!--
{%   block sidebar   %}
{% include 'inc/_sidebar.html' %}
{%    endblock    %}
-->

{%   block content   %}

<section id="blog">
    <div class="container">
         <div class="row">
              <div class="col-md-offset-1 col-md-10 col-sm-12">


<h1>Регистрация</h1>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-info btn-block">Регистрация</button>


</form>


</div>
</div>     
</div>  
     </section>

{%    endblock    %}