{%  extends 'base.html'  %}

{%  load static %}


{% load cache %}

{% block title %}Поиск  ::  {{   block.super  }}{% endblock %}


{%  block home-section %}
<!-- Home Section -->

<section id="home" class="main-gallery parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">
 
               <div class="col-md-12 col-sm-12">
                {%    if posts.count > 0  %}    
                <h1>Результаты поиска по запросу: "{{  result  }}"</h1>
                <h4>Количество найденных статей: {{  posts.count  }}</h4>
                {%   else  %}
               <h1>По запросу "{{  result  }}" ничего не найдено</h1>
               {%    endif   %}
               </div>
          </div>
     </div>
 </section>
 {%   endblock   %}

 
{%  block content %}

<section id="blog">
    <div class="container">
         <div class="row">
              <div class="col-md-offset-1 col-md-10 col-sm-12">
               <div class="clearfix"></div>
               {%    for post in posts   %}
               <div class="col-md-4 col-sm-4">
                   
                    <section id="gallery">
                         <div class="gallery-thumb">
                             
                              {%  if post.photo  %}
                              <a href="{{ post.get_absolute_url }}" class="image-popup">
                              <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-responsive">
                              </a>
                              {%  else %}
                              <a href="{{ post.get_absolute_url }}" class="image-popup">
                              <img src="https://picsum.photos/id/1060/300/200/?blur=2" class="img-responsive" alt="{{ post.title }}">
                              </a>
                              {%  endif  %}
                         
                         </div>
                         </section>
               
                         <div class="blog-post-title">
                              <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                         </div>
                    <h4><span>Posted by: <span class='author-name'>{{ post.author.author }}</span></span></h4>
                    <div class="card-text">
                    <h4>{{ post.content|safe|linebreaks|truncatewords:20 }}</h4>
                    </div>
                    <h4><span>{{ post.created_at }}</span></h4>
               </div>
               {%   empty  %}
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-comment-form">
                         
                              <h3>Попробуйте ещё раз</h3>
                              <form action="{%  url 'search' %}" method="get">
                                   <input type="text" class="form-control" placeholder="Поиск..." name="s" required>
                              </form>
                         </div>
               {%    endfor   %}

          </div>
     </div>
               
     </section>
     
{%   endblock   %}