{%  load menu %}
<!-- PRE LOADER -->
<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
 </div>
<!-- Navigation section  -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
              <a href="{% url 'index-home' %}" class="navbar-brand">Segnarock</a>
         </div>
         <div class="collapse navbar-collapse">
          {%     show_menu   %}


          {% if request.user.is_authenticated %}
               <li><a href="#">Добро пожаловать, {{ user.username }}</a></li>
               <li><a href="{%  url 'logout' %}">Выход</a></li>
          {%  else %}
               <li><a href="{%  url 'register' %}">Регистрация</a></li>
               <li><a href="{%  url 'login' %}">Авторизация</a></li>
          {%  endif %}
    </ul>
</ul>



     </div>
 </div>
</div>
