{%  load menu %}
{%  load static %}
<!-- PRE LOADER -->
<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
 </div>
<!-- Navigation section  -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
              <a href="{% url 'index-home' %}" class="navbar-brand">SegnaYoda</a>
         </div>
         <div class="collapse navbar-collapse">
          {%     show_menu   %}


          {% if request.user.is_authenticated %}
               <li><a href="{%  url 'personalaccount' %}">Личный кабинет {{ user.first_name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}</a></li>
               <li><a href="{%  url 'logout' %}"><img src="{%  static 'images/exit.png' %}" width="24"></a></li>
          {%  else %}
               <li><a href="{%  url 'register' %}"><img src="{%  static 'images/register_on.png' %}" width="24"></a></li>
               <li><a href="{%  url 'login' %}"><img src="{%  static 'images/employee-card-on.png' %}" width="24"></a></li>
          {%  endif %}
    </ul>
</ul>



     </div>
 </div>
</div>
