<!-- Home Section -->

<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <h1>Привет! Это мой блог.</h1>
                   <h4>Тестовый новостной портал Django HTML CSS JS</h4>
                   <a href="#blog" class="smoothScroll btn btn-default">Узнать больше</a>
              </div>
         </div>
    </div>
</section>